<%- include('./partials/header')  -%>
<%- include('./navbar')  -%>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
<style>
    body {
        display: inline !important;
        text-align: center !important;
        width: 100% !important;
    }
    h1{
        color: red !important;
    }
</style>
<body>
    <br>
    <br>
    <h1 class="animate__infinite animate__animated animate__flash">404</h1>
    <h5>Page Not Found</h5>
    <br>
    <br>
</body>
<%- include('./partials/footer')  -%>
<%- include('./navbar')  -%>