<%- include('./partials/header')  -%>
<%- include('./navbar')  -%>

<link rel="stylesheet" type="text/css" href="/css/home.css">
<body>
    <div class="d1">
        Home Page 
    </div>
</body>

<%- include('./partials/footer')  -%>