<style>
    @font-face {
        font-family: 'Whitney';
        src: url('https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot');
        src: url('https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.eot?#iefix') format('embedded-opentype'),
            url('https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.woff') format('woff'),
            url('https://constant.myntassets.com/www/fonts/WhitneyHTF-Book.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Whitney';
        src: url('https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.eot');
        src: url('https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.eot?#iefix') format('embedded-opentype'),
            url('https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.woff') format('woff'),
            url('https://constant.myntassets.com/www/fonts/WhitneyHTF-SemiBold.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
    }

    @import url("https://fonts.googleapis.com/css?family=Poppins|Roboto");

    body {
        color: rgb(88, 89, 91);
    }

    .snipcss-GVTNP {
        color: rgb(255, 255, 255) !important;
    }

    .myx-base {
        width: 100%;
    }

    main {
        display: block;
    }

    .shop-base {
        box-sizing: border-box;
        min-height: 700px;
        margin-top: 5px;
    }

    @media (min-width: 961px) {
        .shop-base {
            margin-top: 80px;
        }
    }

    @media (min-width: 980px) {
        .application-base {
            margin-top: 50px;
        }
    }

    body {
        margin: 0;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    body {
        width: 100%;
        overflow-x: hidden;
        font-family: Whitney, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    html {
        font-family: sans-serif;
        text-size-adjust: 100%;
    }

    .container-base {
        box-sizing: border-box;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        overflow-x: hidden;
        overflow-y: hidden;
        background-repeat-x: no-repeat;
        background-repeat-y: no-repeat;
    }

    div {
        margin: 0 auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }

    div.myx-stretch {
        max-width: 100%;
    }

    .container-container {
        margin: 0 auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }

    .row-base {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .row-base:after {
        clear: both;
        content: " ";
        display: table;
    }

    .column-base {
        align-self: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 1;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
    }

    .container-aspectContainer {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    a {
        background-color: transparent;
    }

    a {
        text-decoration: none;
        color: rgb(40, 44, 63);
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: initial;
        text-decoration-color: initial;
    }

    a:active,
    a:hover {
        outline-width: 0px;
    }

    img {
        border-style: none;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
    }

    .image-image {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: auto;
        width: 100%;
        transition: all .2s ease-in-out;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        transition-property: all;
    }

    .image-hand {
        cursor: hand;
    }
</style>

<body>
    <div class="container-base myx-stretch snipcss-GVTNP snip-div" style="padding-left: 60px; padding-right: 30px;">
        <div class="snip-div">
            <div class="container-container snip-div">
                <div class="row-base snip-div" style="display: -webkit-flex;">
                    <div class="column-base snip-div" style="-webkit-box-flex: 1; flex: 1 1 0%;">
                        <div class="container-base myx-stretch snip-div" style="padding-right: 30px;">
                            <div class="snip-div">
                                <div class="container-container snip-div">
                                    <div class="row-base snip-div" style="display: -webkit-flex;">
                                        <div class="column-base snip-div" style="-webkit-box-flex: 1; flex: 1 1 0%;">
                                            <div class="container-base myx-stretch snip-div">
                                                <div style="padding-bottom: 131.21%;" class="snip-div">
                                                    <div class="container-container container-aspectContainer snip-div">
                                                        <div class="row-base snip-div" style="display: -webkit-flex;">
                                                            <div class="column-base snip-div"
                                                                style="-webkit-box-flex: 1; flex: 1 1 0%;">
                                                                <a href="https://www.myntra.com/men-topwear?f=Categories%3AShirts%2CTshirts%3A%3APattern%3AColourblocked"
                                                                    class="snip-a">
                                                                    <picture class="img-responsive">
                                                                        <source
                                                                            srcset="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/28/655751e9-66c3-49b5-acfc-a508068e6e581595936000398-Content-westernwear-Trends-Vibrantcolourblocks.jpg"
                                                                            type="image/webp">
                                                                        <img class="image-image undefined image-hand snip-img"
                                                                            src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/28/655751e9-66c3-49b5-acfc-a508068e6e581595936000398-Content-westernwear-Trends-Vibrantcolourblocks.jpg"
                                                                            srcset="">
                                                                    </picture>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-base snip-div" style="-webkit-box-flex: 1; flex: 1 1 0%;">
                        <div class="container-base myx-stretch snip-div" style="padding-right: 30px;">
                            <div class="snip-div">
                                <div class="container-container snip-div">
                                    <div class="row-base snip-div" style="display: -webkit-flex;">
                                        <div class="column-base snip-div" style="-webkit-box-flex: 1; flex: 1 1 0%;">
                                            <div class="container-base myx-stretch snip-div">
                                                <div style="padding-bottom: 131.21%;" class="snip-div">
                                                    <div class="container-container container-aspectContainer snip-div">
                                                        <div class="row-base snip-div" style="display: -webkit-flex;">
                                                            <div class="column-base snip-div"
                                                                style="-webkit-box-flex: 1; flex: 1 1 0%;">
                                                                <a href="https://www.myntra.com/roadtser-aug-aw20-mossmel "
                                                                    class="snip-a">
                                                                    <picture class="img-responsive">
                                                                        <source
                                                                            srcset="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/f7585d6d-78ee-42bd-baf2-07eefada7fb31597840566666-Content-westerncasual-color-moss.jpg"
                                                                            type="image/webp">
                                                                        <img class="image-image undefined image-hand snip-img"
                                                                            src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/f7585d6d-78ee-42bd-baf2-07eefada7fb31597840566666-Content-westerncasual-color-moss.jpg"
                                                                            srcset="">
                                                                    </picture>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-base snip-div" style="-webkit-box-flex: 1; flex: 1 1 0%;">
                        <div class="container-base myx-stretch snip-div" style="padding-right: 30px;">
                            <div class="snip-div">
                                <div class="container-container snip-div">
                                    <div class="row-base snip-div" style="display: -webkit-flex;">
                                        <div class="column-base snip-div" style="-webkit-box-flex: 1; flex: 1 1 0%;">
                                            <div class="container-base myx-stretch snip-div">
                                                <div style="padding-bottom: 131.21%;" class="snip-div">
                                                    <div class="container-container container-aspectContainer snip-div">
                                                        <div class="row-base snip-div" style="display: -webkit-flex;">
                                                            <div class="column-base snip-div"
                                                                style="-webkit-box-flex: 1; flex: 1 1 0%;">
                                                                <a href="https://www.myntra.com/men-jeans?f=Brand%3AModa%20Rapido%3A%3AFit%3ASkinny%20Fit&amp;sort=new"
                                                                    class="snip-a">
                                                                    <picture class="img-responsive">
                                                                        <source
                                                                            srcset="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/d53a46d7-e8f8-4f7e-9e1a-6cb997d1a1e51597840566613-Content-westerncasual-brand-modarapidoskinnyjeans.jpg"
                                                                            type="image/webp">
                                                                        <img class="image-image undefined image-hand snip-img"
                                                                            src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/d53a46d7-e8f8-4f7e-9e1a-6cb997d1a1e51597840566613-Content-westerncasual-brand-modarapidoskinnyjeans.jpg"
                                                                            srcset="">
                                                                    </picture>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-base snip-div" style="-webkit-box-flex: 1; flex: 1 1 0%;">
                        <div class="container-base myx-stretch snip-div" style="padding-right: 30px;">
                            <div class="snip-div">
                                <div class="container-container snip-div">
                                    <div class="row-base snip-div" style="display: -webkit-flex;">
                                        <div class="column-base snip-div" style="-webkit-box-flex: 1; flex: 1 1 0%;">
                                            <div class="container-base myx-stretch snip-div">
                                                <div style="padding-bottom: 131.21%;" class="snip-div">
                                                    <div class="container-container container-aspectContainer snip-div">
                                                        <div class="row-base snip-div" style="display: -webkit-flex;">
                                                            <div class="column-base snip-div"
                                                                style="-webkit-box-flex: 1; flex: 1 1 0%;">
                                                                <a href="https://www.myntra.com/women-shirts-tops-tees?f=Categories%3ATops%2CTshirts%3A%3AColor%3ARed_d34b56"
                                                                    class="snip-a">
                                                                    <picture class="img-responsive">
                                                                        <source
                                                                            srcset="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/8116410f-af2c-4980-95ef-04a4162092491597840566722-Content-westerncasual-color-preppyred.jpg"
                                                                            type="image/webp">
                                                                        <img class="image-image undefined image-hand snip-img"
                                                                            src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/19/8116410f-af2c-4980-95ef-04a4162092491597840566722-Content-westerncasual-color-preppyred.jpg"
                                                                            srcset="">
                                                                    </picture>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-base snip-div" style="-webkit-box-flex: 1; flex: 1 1 0%;">
                        <div class="container-base myx-stretch snip-div" style="padding-right: 30px;">
                            <div class="snip-div">
                                <div class="container-container snip-div">
                                    <div class="row-base snip-div" style="display: -webkit-flex;">
                                        <div class="column-base snip-div" style="-webkit-box-flex: 1; flex: 1 1 0%;">
                                            <div class="container-base myx-stretch snip-div">
                                                <div style="padding-bottom: 131.21%;" class="snip-div">
                                                    <div class="container-container container-aspectContainer snip-div">
                                                        <div class="row-base snip-div" style="display: -webkit-flex;">
                                                            <div class="column-base snip-div"
                                                                style="-webkit-box-flex: 1; flex: 1 1 0%;">
                                                                <a href="https://www.myntra.com/men-apparel?f=Brand%3AAMERICAN%20EAGLE%20OUTFITTERS%2CAeropostale%2CBeing%20Human%2CBreakbounce%2CCalvin%20Klein%2CCalvin%20Klein%20Jeans%2CCampus%20Sutra%2CClub%20York%2CConditions%20Apply%2CDenizen%20From%20Levis%2CDucati%2CEcko%20Unltd%2CEd%20Hardy%2CFOREVER%2021%2CFlying%20Machine%2CFree%20Authority%2CFriskers%2CGAS%2CGRIFFEL%2CHIGHLANDER%2CHubberholme%2CHuetrap%2CIntegriti%2CJack%20%26%20Jones%2CJohn%20Pride%2CJustanned%2CKiller%2CLOCOMOTIVE%2CLee%2CLee%20Cooper%2CLevis%2CLouis%20Philippe%20Jeans%2CManiac%2CMarvel%20Avengers%2CMarvel%20Comics%2CMarvel%20Spiderman%2CMufti%2CNumero%20Uno%2CONLY%20%26%20SONS%2COkane%2CPeople%2CPepe%20Jeans%2CRUF%20%26%20TUF%2CRed%20Tape%2CSKULT%20by%20Shahid%20Kapoor%2CSPYKAR%2CSTAR%20WARS%2CScotch%20%26%20Soda%2CSuperdry%2CU.S.%20Polo%20Assn.%20Denim%20Co.%2CWildcraft%2CWrangler%3A%3ACategories%3ASweaters%2CTshirts%3A%3APrint%20or%20Pattern%20Type%3ASuperhero&amp;sort=price_desc"
                                                                    class="snip-a">
                                                                    <picture class="img-responsive">
                                                                        <source
                                                                            srcset="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2020/8/20/5b3b3f9a-d893-4f15-9e1c-c7667bca41091597912691188-Content-westerncasual-trend-superhero.jpg"
                                                                            type="image/webp">
                                                                        <img class="image-image undefined image-hand snip-img"
                                                                            src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2020/8/20/5b3b3f9a-d893-4f15-9e1c-c7667bca41091597912691188-Content-westerncasual-trend-superhero.jpg"
                                                                            srcset="">
                                                                    </picture>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>