<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.12.2/dist/css/uikit.min.css" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- UIkit CSS -->

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.12.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.12.2/dist/js/uikit-icons.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>

<style>
    @import url("https://fonts.googleapis.com/css?family=Poppins|Roboto");

    body {
        color: rgb(88, 89, 91);
    }

    .snipcss-cn28Y {
        color: rgb(255, 255, 255) !important;
    }

    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .MuiPaper-root {
        color: rgba(0, 0, 0, 0.87);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: rgb(255, 255, 255);
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0ms;
        transition-property: box-shadow;
    }

    .MuiPaper-elevation4 {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    }

    .MuiAppBar-root {
        width: 100%;
        display: flex;
        z-index: 1100;
        box-sizing: border-box;
        flex-shrink: 0;
        flex-direction: column;
    }

    .MuiAppBar-positionFixed {
        top: 0px;
        left: auto;
        right: 0px;
        position: fixed;
    }

    .jss3 {
        width: 100%;
        padding: 20px 0px 0px;
        position: sticky;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
        padding-top: 20px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .MuiGrid-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .jss4 {
        display: flex;
        justify-content: space-between;
    }

    .jss5 {
        color: rgb(40, 44, 63);
        display: flex;
        font-size: 14px;
        font-weight: 500;
        line-height: 40px;
        margin-left: 25px;
        text-transform: uppercase;
    }

    .jss12 {
        display: flex;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        margin-right: 20px;
        text-transform: capitalize;
    }

    .jss6 {
        color: rgb(40, 44, 63);
        cursor: pointer;
        padding: 0 12px 0 12px;
        text-decoration: none;
        padding-top: 0px;
        padding-right: 12px;
        padding-bottom: 0px;
        padding-left: 12px;
        text-decoration-line: none;
        text-decoration-thickness: initial;
        text-decoration-style: initial;
        text-decoration-color: initial;
    }

    .jss7:hover {
        border-bottom: 4px solid #ee5f73;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: rgb(238, 95, 115);
    }

    .jss8:hover {
        border-bottom: 4px solid #fb56c1;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: rgb(251, 86, 193);
    }

    .jss9:hover {
        border-bottom: 4px solid #f26a10;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: rgb(242, 106, 16);
    }

    .jss14 {
        cursor: pointer;
        height: 50px;
        display: flex;
        padding: 0 12px 0 17px;
        align-items: center;
        flex-direction: column;
        padding-top: 0px;
        padding-right: 12px;
        padding-bottom: 0px;
        padding-left: 17px;
    }

    .jss14:hover {
        border-bottom: 4px solid #ee5f73;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: rgb(238, 95, 115);
    }

    .jss13 {
        cursor: pointer;
        display: flex;
        padding: 0 12px 0 17px;
        align-items: center;
        flex-direction: column;
        padding-top: 0px;
        padding-right: 12px;
        padding-bottom: 0px;
        padding-left: 17px;
    }

    .jss17 {
        color: rgb(105, 110, 121);
        width: 100%;
        position: relative;
        margin-left: 0px;
        margin-right: 16px;
        border-radius: 8px;
        background-color: rgb(245, 245, 246);
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    @media (min-width: 600px) {
        .jss17 {
            width: auto;
            margin-left: 24px;
        }
    }

    .jss17:hover {
        color: rgb(105, 110, 121);
        background-color: rgb(245, 245, 246);
    }

    .MuiSvgIcon-root {
        fill: currentcolor;
        width: 1em;
        height: 1em;
        display: inline-block;
        font-size: 1.5rem;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        flex-shrink: 0;
        user-select: none;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0ms;
        transition-property: fill;
    }

    .MuiBadge-root {
        display: inline-flex;
        position: relative;
        flex-shrink: 0;
        vertical-align: middle;
    }

    .jss18 {
        cursor: pointer;
        height: 100%;
        display: flex;
        padding: 0px 8px;
        position: absolute;
        align-items: center;
        pointer-events: none;
        justify-content: center;
        padding-top: 0px;
        padding-right: 8px;
        padding-bottom: 0px;
        padding-left: 8px;
    }

    .MuiInputBase-root {
        color: rgba(0, 0, 0, 0.87);
        cursor: text;
        display: inline-flex;
        position: relative;
        font-size: 1rem;
        box-sizing: border-box;
        align-items: center;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        line-height: 1.1876em;
        letter-spacing: 0.00938em;
    }

    .jss15 {
        width: 400px;
    }

    .MuiBadge-badge {
        height: 20px;
        display: flex;
        padding: 0 6px;
        z-index: 1;
        position: absolute;
        flex-wrap: wrap;
        font-size: 0.75rem;
        min-width: 20px;
        box-sizing: border-box;
        transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        align-items: center;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1;
        align-content: center;
        border-radius: 10px;
        flex-direction: row;
        justify-content: center;
        padding-top: 0px;
        padding-right: 6px;
        padding-bottom: 0px;
        padding-left: 6px;
        transition-duration: 225ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0ms;
        transition-property: transform;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .MuiBadge-colorSecondary {
        color: rgb(255, 255, 255);
        background-color: rgb(245, 0, 87);
    }

    .MuiBadge-anchorOriginTopRightRectangle {
        top: 0px;
        right: 0px;
        transform: scale(1) translate(50%, -50%);
        transform-origin: 100% 0%;
    }

    .MuiBadge-invisible {
        transition: transform 195ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition-duration: 195ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0ms;
        transition-property: transform;
    }

    .MuiBadge-anchorOriginTopRightRectangle.MuiBadge-invisible {
        transform: scale(0) translate(50%, -50%);
    }

    .MuiInputBase-input {
        color: currentcolor;
        width: 100%;
        border: 0;
        height: 1.1876em;
        margin: 0;
        display: block;
        padding: 6px 0 7px;
        min-width: 0px;
        background: none;
        box-sizing: content-box;
        animation-name: mui-auto-fill-cancel;
        animation-duration: 10ms;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: initial;
        border-right-style: initial;
        border-bottom-style: initial;
        border-left-style: initial;
        border-top-color: initial;
        border-right-color: initial;
        border-bottom-color: initial;
        border-left-color: initial;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 6px;
        padding-right: 0px;
        padding-bottom: 7px;
        padding-left: 0px;
        background-image: none;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
    }

    .jss16 {
        width: 100%;
        padding: 8px 8px 8px 0px;
        padding-left: calc(1em + 18px);
        padding-top: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
    }


    @keyframes mui-auto-fill-cancel {}
</style>







<header class="MuiPaper-root MuiAppBar-root MuiAppBar-positionFixed jss3 mui-fixed MuiPaper-elevation4 snipcss-cn28Y">
    <div class="MuiGrid-root jss4 MuiGrid-container">
        <div class="MuiGrid-root jss5">
            <a class="jss6" href="/" style="margin-right: 20px;">
                <img src="/images/logo.png" alt="app-logo" width="100rem"
                    >
            </a>
            <div class="jss6 jss7" >
                Shop
            </div>
            <div class="" uk-dropdown="mode: click">
                <ul class="uk-subnav" uk-switcher>
                    <li><a href="#">By Craft</a></li>
                    <li><a href="#">By State</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Kids</a></li>
                    <li><a href="#">Home & Living</a></li>
                    <li><a href="#">Work</a></li>
                    <li><a href="#">Occasion</a></li>
                </ul>

                <ul class="uk-switcher ">
                    <li>
                        <div class="uk-dropdown-grid uk-child-width-1-4@m" uk-grid>
                        <div>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="#">Explore crafts forms</a></li>
                                <li><a href="#">Ceramic Pottery</a></li>
                                <li><a href="#">Herbs & Consumables</a></li>
                                <li><a href="#">Metal Craft</a></li>
                                <li><a href="#">Stationery & Paper Craft</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="#">Assorted Craft</a></li>
                                <li><a href="#">Cloth Weaving</a></li>
                                <li><a href="#">Jewelry Craft</a></li>
                                <li><a href="#">Needlework & Embroidery</a></li>
                                <li><a href="#">Tye & Die / Resist Dyeing</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="#">Bead Craft</a></li>
                                <li><a href="#">Glass Craft</a></li>
                                <li><a href="#">Leather Craft</a></li>
                                <li><a href="#">Painting & Art</a></li>
                                <li><a href="#">Wood Craft</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="#">Block Printing</a></li>
                                <li><a href="#">Grass & Nature Craft</a></li>
                                <li><a href="#">Marble & Stone Craft</a></li>
                                <li><a href="#">Rug Weaving</a></li>
                                <li><a href="#">Wool Weaving & Embroidery</a></li>
                            </ul>
                        </div>
                    </div></li>
                    <li>
                        <div class="uk-dropdown-grid uk-child-width-1-4@m" uk-grid>
                        <div>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="#">Andhra Pradesh</a></li>
                                <li><a href="#">Arunachal Pradesh</a></li>
                                <li><a href="#">Assam</a></li>
                                <li><a href="#">Bihar</a></li>
                                <li><a href="#">Chhattisgarh</a></li>
                                <li><a href="#">Goa</a></li>
                                <li><a href="#">Gujrat</a></li>                           
                            </ul>
                        </div>
                        <div>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="#">Haryana</a></li>
                                <li><a href="#">Himachal Pradesh</a></li>
                                <li><a href="#">Jharkhand</a></li>
                                <li><a href="#">Karnataka</a></li>
                                <li><a href="#">Kerala</a></li>
                                <li><a href="#">Madhya Pradesh</a></li>
                                <li><a href="#">Maharashtra</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="#">Manipur</a></li>
                                <li><a href="#">Meghalaya</a></li>
                                <li><a href="#">Mizoram</a></li>
                                <li><a href="#">Nagaland</a></li>
                                <li><a href="#">Odisha</a></li>
                                <li><a href="#">Punjab</a></li>
                                <li><a href="#">Rajasthan</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="#">Sikkim</a></li>
                                <li><a href="#">Tamil Nadu</a></li>
                                <li><a href="#">Telangana</a></li>
                                <li><a href="#">Tripura</a></li>
                                <li><a href="#">Uttarakhand</a></li>
                                <li><a href="#">Uttar Pradesh</a></li>
                                <li><a href="#">West Bengal</a></li>
                            </ul>
                        </div>
                    </div></li>
                    <li>
                        <div class="uk-dropdown-grid uk-child-width-1-4@m" uk-grid>
                        <div>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-nav-header">Accessories & More</li>
                                <li><a href="#">Hair Accessories</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-nav-header">Apparel</li>
                                <li><a href="#">Dresses & Fusion Wear</a></li>
                                <li><a href="#">Dupattas</a></li>
                                <li><a href="#">Ethnic Sets & Separates</a></li>
                                <li><a href="#">Sarees</a></li>
                                <li><a href="#">Stoles & Scarves</a></li>
                                <li><a href="#">Unstitched Sets & Fabric</a></li>
                                <li><a href="#">Winter Wear</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-nav-header">Bags & Things</li>
                                <li><a href="#">Mulches & Potlis</a></li>
                                <li><a href="#">Laptops & Tablet Holders</a></li>
                                <li><a href="#">Pouches & Wallets</a></li>
                                <li><a href="#">Sling Bags & Totes</a></li>
                                <li><a href="#">Small Sling Bags</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-nav-header">Jewelry</li>
                                <li><a href="#">Anklets</a></li>
                                <li><a href="#">Bangles & Bracelets</a></li>
                                <li><a href="#">Desginer Collections</a></li>
                                <li><a href="#">Dhokra Metal Crafts</a></li>
                                <li><a href="#">Earrings</a></li>
                                <li><a href="#">Neckpieces</a></li>
                                <li><a href="#">Pure Silver Jewelry</a></li>
                            </ul>
                        </div>
                    </div></li>
                    <li>
                        <div class="uk-dropdown-grid uk-child-width-1-3@m" uk-grid>
                            <div>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="uk-nav-header">Accessories</li>
                                    <li><a href="#">Formal Accessories</a></li>
                                    <li><a href="#">Winter Accessories</a></li>
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="uk-nav-header">Apparel</li>
                                    <li><a href="#">Ethnic Wear</a></li>
                                    <li><a href="#">Shirts</a></li>
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="uk-nav-header">Bags</li>
                                    <li><a href="#">Bags</a></li>
                                    <li><a href="#">Tech Bags & Cases</a></li>
                                    <li><a href="#">Wallets & Pouches</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <a class="jss6 jss8" href="/shop/women">
                About Us
            </a>
            <a class="jss6 jss9" href="/shop/kids">
                Wholesale
            </a>
            <a class="jss6 jss9" href="/shop/kids">
                Contact Us
            </a>
        </div>
        <div class="MuiGrid-root">
            <span style="display: inline-flex; align-items: center; margin-right: 4px;">
                <div class="jss17">
                    <div class="jss18">
                        <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                            </path>
                        </svg>
                    </div>
                    <div class="MuiInputBase-root jss15">
                        <input placeholder="Search for products, brands and more" type="text" aria-label="Search"
                            class="MuiInputBase-input jss16" value="">
                    </div>
                </div>
            </span>
        </div>
        <div class="MuiGrid-root jss12">
            <div class="jss14" aria-haspopup="true">
                <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" color="#5d5b5b" aria-hidden="true">
                    <path
                        d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z">
                    </path>
                </svg>
                <span>
                    profile
                </span>
            </div>
            <div class="jss13">
                <span class="MuiBadge-root">
                    <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" color="#5d5b5b"
                        aria-hidden="true">
                        <path
                            d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z">
                        </path>
                    </svg>
                    <span
                        class="MuiBadge-badge MuiBadge-anchorOriginTopRightRectangle MuiBadge-colorSecondary MuiBadge-invisible">
                        0
                    </span>
                </span>
                <span>
                    wishlist
                </span>
            </div>
            <div class="jss13">
                <span class="MuiBadge-root">
                    <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" color="#5d5b5b"
                        aria-hidden="true">
                        <path
                            d="M19 6h-2c0-2.76-2.24-5-5-5S7 3.24 7 6H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm-7-3c1.66 0 3 1.34 3 3H9c0-1.66 1.34-3 3-3zm7 17H5V8h14v12zm-7-8c-1.66 0-3-1.34-3-3H7c0 2.76 2.24 5 5 5s5-2.24 5-5h-2c0 1.66-1.34 3-3 3z">
                        </path>
                    </svg>
                    <span
                        class="MuiBadge-badge MuiBadge-anchorOriginTopRightRectangle MuiBadge-colorSecondary MuiBadge-invisible">
                        0
                    </span>
                </span>
                <span>
                    bag
                </span>
            </div>
        </div>
    </div>
</header>







<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>